body {font-family: Roboto, sans-serif;
background: #fff;
color: #434455;
font-width: 1440px;
font-height: 3300px;
}

p,
h1, 
h2, 
h3,
h4, h5, h6 {margin-top: 0;
    margin-bottom: 0;}

    ul {margin-top: 0;
margin-bottom: 0;
padding-left: 0;}

img {display: block;}

.container {max-width: 1158px;
    padding: 0 15px ;
    margin: 0 auto;
}

ul {list-style-type: none;
margin: 0;
padding: 0;}

a {text-decoration: none;}

button {cursor: pointer;
font-family: Roboto, sans-serif;}
.footer {
    background-color: #2E2F42
}

/* #region header */

.header {border-bottom: 1px solid #e7e9fc;}
.header-container {display: flex;
    align-items: center;

}

.nav-header {display: flex; 
    align-items: center;
}

.logo {    
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;}
.header-logo {
    padding: 24px 0;
margin-right: 76px;}
.logo-style {
    color: #2E2F42}

   

.nav-header-list {display: flex;
    align-items: center;
gap: 40px;
padding: 24px 0;
}

   

.nav-header-item {
   
}

.item-nav-link {
    display: block;
    padding: 24px 0; 
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;}
        .item-nav-link:hover, .item-nav-link:focus {color: #404BBF;}
        .address {font-style: normal;
        margin-left: auto;}
    
        .address-lists {display: flex;
            align-items: center;
            gap: 40px;     
        }
    
        .address-lists-item {}
        .address-link {
            display: block;
            padding: 24px 0;
        font-weight: 400;
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.02em;
            color: #434455;
    }
    .address-link:hover, .address-link:focus {color: #404BBF;}
/* #endregion header */

/* #region hero */
.hero {background-color: #2e2f42;}

.hero-title {font-weight: 700;
    font-size: 56px;  
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;}

.hero-btn {font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
background-color: #4d5ae5;;}
.hero-btn:hover, .hero-btn:focus {
   color: #FFFFFF;
    background-color: #404BBF;
}
/* #endregion hero */

/* #region block */
.block {}

.block-lists {}

.block-lists-item {}

.block-item-title {font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;}

.block-item-text {
font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
/* #endregion block */

/* #region team */
.team {background-color: #F4F4FD}

.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2E2F42;
}

.team-lists {}

.team-lists-item {background-color: #FFFFFF}

.team-item-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}

.team-item-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;;
}
/* #endregion team */

/* #region portfolio */
.portfolio {}

.portfolio-lists {}

.portfolio-lists-item {}

.portfolio-foto {}

.portfolio-item-text {
font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;}

* #endregion portfolio */

/* #endregion footer */
.footer {}

.footer-title {font-family: "Raleway", sans-serif;
font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;}
.footer-title-web {color: #f4f4fd;}

.footer-text {font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;}
/* #endregion footer */
